<% layout("/layouts/boilerplate") %>

    <body>
        <!-- <h3>All Listings</h3>  -->
        <!-- below button not required as in bootstrap a button already exist -->
        <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    

<div id="filters">

            <div class="filter">
                <form action="/listings/type/Trending" method="GET" id="myForm">
                        <div><i class="fa-solid fa-fire"></i></div>
                        <p>Trending</p>
                </form>    
            </div>

            </form>
            <div class="filter">
                <form action="/listings/type/New" method="GET" id="myForm">
                        <div><i class="fa-solid fa-key"></i></div>
                        <p>New</p>
                </form>   
            </div>

            <div class="filter">
                <form action="/listings/type/Rooms" method="GET" id="myForm">
                    <div><i class="fa-solid fa-bed"></i></div>
                    <p>Rooms</p>
                </form>
            </div>

            <div class="filter">
                <form action="/listings/type/Pools" method="GET" id="myForm">
                    <div><i class="fa-solid fa-person-swimming"></i></div>
                    <p>Pools</p>
                </form>
            </div>

            <div class="filter">
                <form action="/listings/type/Luxe" method="GET" id="myForm">
                    <div><i class="fa-solid fa-circle-dollar-to-slot"></i></div>
                    <p>Luxe</p>
                </form>
            </div>

            <div class="filter">
                <form action="/listings/type/Beachfront" method="GET" id="myForm">
                    <div><i class="fa-solid fa-umbrella-beach"></i></div>
                    <p>Beachfront</p>
                </form>
            </div>

            <div class="filter">
                <form action="/listings/type/Domes" method="GET" id="myForm">
                    <div><i class="fa-solid fa-house-user"></i></div>
                    <p>Domes</p>
                </form>
            </div>

            <div class="filter">
                <form action="/listings/type/Countryside" method="GET" id="myForm">
                    <div><i class="fa-solid fa-earth-americas"></i></div>
                    <p>Countryside</p>
                </form>
            </div>

            <div class="filter">
                <form action="/listings/type/Artic" method="GET" id="myForm">
                    <div><i class="fa-solid fa-snowflake"></i></div>
                    <p>Artic</p>
                </form>
            </div>

            <div class="filter">
                <form action="/listings/type/Boats" method="GET" id="myForm">
                    <div><i class="fa-solid fa-ship"></i></div>
                    <p>Boats</p>
                </form>
            </div>
            <div class="filter">
                <form action="/listings/type/Castles" method="GET" id="myForm">
                  <div><i class="fa-brands fa-fort-awesome"></i></div>
                  <p>Castles</p>
                </form>
              </div>
            <div class="filter">
                <form action="/listings/type/Farms" method="GET" id="myForm">
                    <div><i class="fa-solid fa-cow"></i></div>
                    <p>Farms</p>
                </form>
            </div>
            
            
            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
                </div>
            </div>
        </div>
        <div class="row row-cols-lg-3  row-cols-md-2 row-cols-sm-1">
            <% for(let listing of listings){ %>
                <a href="/listings/<%= listing._id  %>" class="listing-link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                            style="height:20rem">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                
                                <span class="price-info" style="display: none;">
                                   <b>&#8377;<%= (listing.price * 5).toLocaleString("en-IN") %> / 5 nights
                                    <i class="tax-info">&nbsp; &nbsp; total before taxes</i> </b>
                                </span>
                                <!-- Show nightly price -->
                                <span class="nightly-price">
                                    &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
                <%} %>
        </div>

        <script>
            let taxSwitch = document.getElementById("flexSwitchCheckDefault");
            taxSwitch.addEventListener("click", () => {
                let taxInfo = document.getElementsByClassName("tax-info");
                let priceInfo = document.getElementsByClassName("price-info");
                let nightlyPrice = document.getElementsByClassName("nightly-price");

                for (info of taxInfo) {
                    info.style.display = taxSwitch.checked ? "inline" : "none";
                }

                for (info of priceInfo) {
                    info.style.display = taxSwitch.checked ? "inline" : "none";
                }

                for (info of nightlyPrice) {
                    info.style.display = taxSwitch.checked ? "none" : "inline";
                }
    });
            
            let icons=document.getElementsByClassName("filter");
            for(icon of icons){
                icon.addEventListener("click",(event)=>{
                    let div= event.currentTarget;
                    div.children[0].submit();
                });
            }

        </script>





    </body>


    